<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Список уроков</title>
</head>
<body>
    <h1>Список уроков</h1>

    <ul>

        {% for course in courses %}
            <li>
                <strong>{{ course.title }}</strong>: {{ course.description }}
            </li>
        {% empty %}

            <li>Список уроков пока пуст.</li>
        {% endfor %}
    </ul>

    <hr>
    <h2>Добавить новый урок</h2>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Сохранить</button>
    </form>
</body>
</html>